.hoi {
    color: green;
}
.dikke {
    color: blue;
    font-weight: bold;
}
.kneus {
    color: orange;
}
.ike {
    color: yellow;
    font-style: italic;
}
.blaa {
    color: red;
    font-family: monospace;
}
.AHH {
     color: red;
    font-family: monospace;
    text-decoration: underline;
}
.oke {
     color: yellow;
    font-style: italic;
    background-color: red;
}
